/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.3;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
 * CSS for index page
 */
html {
  background-color: #111111;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  margin: 0px 10%;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.nav-links {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  width: 70%;
  margin: 20px 0px;
}

.post-title {
  font-size: 1.6rem;
  margin: 8px 0px;
}

.post-date {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.post-description {
  color: gray;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
  margin: 20px 0px;
  bottom: 0;
}

.footer a {
  color: gray;
}

/*
 * CSS For post page
 */
.post-content {
  width: 75%;
  margin: 20px auto;
}

.post-content-title {
  font-size: 1.9rem;
  margin-bottom: 8px;
}

.post-content-date {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.post-content-description {
  color: gray;
}

/*
 * CSS for code blocks
 */

.hljs {
  color: #abb2bf;
  background: #161616;
  line-height: 20px;
}
.hljs-keyword, .hljs-operator {
  color: #F92672;
  font-weight: 400;
}
.hljs-pattern-match {
  color: #F92672;
}
.hljs-pattern-match .hljs-constructor {
  color: #56b6c2;
}
.hljs-function {
  color: #56b6c2;
}
.hljs-function .hljs-params {
  color: #A6E22E;
}
.hljs-function .hljs-params .hljs-typing {
  color: #FD971F;
}
.hljs-module-access .hljs-module {
  color: #7e57c2;
}
.hljs-constructor {
  color: #e2b93d;
}
.hljs-constructor .hljs-string {
  color: #9CCC65;
}
.hljs-comment, .hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.hljs-doctag, .hljs-formula {
  color: #c678dd;
}
.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta .hljs-string {
  color: #d4c204;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #56b6c2;
  font-weight: 400;
}
.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
  color: white;
}
.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
  color: #56b6c2;
  font-weight: 400;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
